<nav class="navbar">
    <div>
        {{#if logged_in}}
        <a href="/">Homepage</a>
        <a href="/post">Dashboard</a>
        <a id="logout">Logout</a>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </div>
</nav>