<h2>Homepage Handlebars Text</h2>

<section>
    <div>
        <ul>{{#each posts as |post| }}
            <li><h3>{{post.title}}</h3><br>{{post.description}}</li>
            {{/each}}
        </ul>
    </div>
</section>