.navbar {
    text-decoration: none;
}

.navbar a {
    margin-left: 15px;
}

.card-space {
    margin-bottom: 30px;
}

.card-space h2 {
    margin-bottom: 0px;
}

.idv-card h6 {
    margin-bottom: 0px;
}

.idv-card h4 {
    margin-bottom: 25px;
}

.lucid h2 {
    color:black;
}

